.button{
    display: inline-block;

    padding: .5rem;
    width: 100%;
    min-height: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;

    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

}